* {
    font-size: 16px;
}

main {
    margin: 0 10% 10% 10%;
}

header a {
    font-size: 2em;
}


.title {
    font-size: 2em;
    border-bottom: 1px dotted rgba(180, 180, 180, 0.8);
}

.content {
    font-size: 1em;
}